.flex-container{
    display: flex;
    flex-direction: row;
}
.column{
    flex-direction: column;;
}

.header-btns{
    flex-basis: 100%;
    font-size: 40px;
    border-radius: 10px;
    margin: 5px
}

#app {
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#header{
    position: absolute;
    display: block;
    top:0;
    left:0;
    background-color: rgb(69, 50, 175);
    width: 100%;
}
#header-desktop {
    height: 100px;
    width: 100%;
}
#header-mobile {
    width: 100px;
    height: 100%;
}
#header-btns-container {
    gap: 1rem;
}



#play-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 2vw;
    background-color: rgb(50, 175, 112);
    height: 85vh;
    width: 96vw;
}

#maze-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#maze {
    display: grid;
    background-color: rgb(175, 50, 175);
}

.maze-cell {
    display: block;
    height: 100%;
    width: 100%;
    border: 1px solid rgb(29, 14, 14);
}
.maze-cell[iswall="true"] {
    background-color: grey;
    
}

.maze-cell[iswall="false"] {
    background-color: rgb(51, 53, 207);
}

.maze-cell[isedge="true"] {
    background-color: rgb(224, 176, 176);
}
.maze-cell[isstart="true"] {
    background-color: rgb(42, 207, 51);
}
.maze-cell[isend="true"] {
    background-color: rgb(201, 36, 14);
}


.maze-cell[discovered="false"] {
    background-color: rgba(0, 0, 0, 1);
}