.flex-container{
    display: flex;
    flex-direction: row;
}
.column{
    flex-direction: column;;
}

.header-btns{
    flex-basis: 100%;
    font-size: 40px;
    border-radius: 10px;
    margin: 5px;
    background-color: #57168F;
    color: rgba(255, 255, 255, 0.747);
}

#app {
    background-color: #3E168F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#header{
    position: absolute;
    display: block;
    top:0;
    left:0;
    width: 100%;
}
#header-desktop {
    height: 100px;
    width: 100%;
}
#header-mobile {
    width: 100px;
    height: 100%;
}
#header-btns-container {
    gap: 1rem;
}



#play-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 2vw;
    background: radial-gradient(circle, #4E8F16, #168F31);
    width: 96vw;
}

#maze-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#maze {
    display: grid;
    background-color: rgb(175, 50, 175);
}

.maze-cell {
    display: block;
    height: 100%;
    width: 100%;
    border: 2px solid rgb(51, 104, 65);
}
.maze-cell[iswall="true"] {
    background-color: grey;
    
}

.maze-cell[iswall="false"] {
    background-color: #4E8F16;
}

.maze-cell[isedge="true"] {
    background-color: #168B8F;
}
.maze-cell[isstart="true"] {
    background-color: rgb(42, 207, 51);
}
.maze-cell[isend="true"] {
    background-color: #2241DD;
}


.maze-cell[discovered="false"] {
    background-color: rgb(4, 24, 4)
}